@model EntityLayer.Concrete.Writer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    List<ViewModel> sehirler = ViewBag.Sehirler;
}

<link rel="stylesheet" href="/login/css/bootstrap.min.css" />
<link rel="stylesheet" href="/login/css/register.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<div class="container">

    <div class="row text-center mt-4 g-3 align-items-center">
        <h3>Yazar Kayıt Sayfası</h3>
        <hr class="cizgi" />
        @using (Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            <div class=row>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <input type="text" id="inputPassword6" name="WriterEmail" class="form-control" aria-describedby="passwordHelpInline" placeholder="EMail Adresi">
                </div>
                <span class="text-left" style="font-size:12px;color:red;" asp-validation-for="WriterEmail"></span>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <input type="text" id="inputPassword6" name="WriterName" class="form-control" aria-describedby="passwordHelpInline" placeholder="Kullanıcı Adı">
                </div>
                <span class="text-left" style="font-size:12px;color:red;" asp-validation-for="WriterName"></span>

            </div>
            <div class="row mt-4">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <input type="password" id="inputPassword6" name="WriterPassword" class="form-control" aria-describedby="passwordHelpInline" placeholder="Şifre">
                </div>
                <span class="text-left" style="font-size:12px;color:red;" asp-validation-for="WriterPassword"></span>

            </div>
            <div class="row mt-4">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <input type="password" id="inputPassword6" name="ConfirmPassword" class="form-control" aria-describedby="passwordHelpInline" placeholder="Şifre Tekrarı">
                </div>
                <span class="text-left" style="font-size:12px;color:red;" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <select class="form-control">
                        @if (sehirler != null)
                        {
                            @foreach (var item in sehirler)
                            {
                                <option value="">@item.Sehir</option>
                            }
                        }



                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-success" type="submit">Kayıt Ol</button>
                </div>
            </div>

        }
        <hr class="cizgi" />

    </div>
</div>