<div class="widget">
    <div class="banner-spot clearfix">
        <div class="banner-img">
            <h5>Mail bültenine abone ol</h5>
            @*<img src="~/bog/upload/banner_07.jpg" alt="" class="img-fluid">*@
            <form action="/NewsLetter/SubscribeMail/" method="post">
                <input type="email" value="" class="form-control" placeholder="Email Adresi" name="Mail" /><br />
                <button class="btn btn-secondary btn-sm">Abone Ol</button>
            </form>
        </div><!-- end banner-img -->
    </div><!-- end banner -->
</div><!-- end widget -->