   <div class="custombox clearfix">
                                <h4 class="small-title">Bir Yorum Yapın</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form action="/Comment/PartialAddComment/" class="form-wrapper" method="post">
                                            <input type="text" name="CommentUserName" class="form-control" placeholder="Adınız Soyadınız">
                                            <input type="text" name="CommentTitle" class="form-control" placeholder="Konu">
                                            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz.."></textarea>
                                            <button type="submit" class="btn btn-primary">Yorum Yap</button>
                                        </form>
                                    </div>
                                </div>
                            </div>